<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">-->
     <link rel="stylesheet" href="/Home/css/style.css">
<!--    <link rel="stylesheet" href="{{ url_for('static', filename='Home/css/style.css') }}">-->
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="left">
                <div class="logo">
                    <a href=""><img src="./images_index/kisspng-registered-nurse-nursing-nurse-practitioner-logo-c-golden-medical-symbol-5ae8e7df518105.2760308015252131513339.png" alt="">
                    </a>
                </div>
                <div class="item">
                    <ul>
                        <li><a href="">Bệnh Nhân</a></li>
                        <li><a href="">Bác Sĩ</a></li>
                        <li><a href="">Chuyên Khoa</a></li>
                        <li><a href="">Thuốc</a></li>
                        <li><a href="">Liên Hệ</a></li>
                        <li><a>Download <i class="fa-solid fa-caret-down"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="right">
                <a href="./login.html"><button class="btn-1">Đăng Nhập</button></a>
                <a href="./register.html"><button class="btn-2" >Đăng Ký</button></a>
            </div>
        </nav>
    </header>

    <footer>
        <div class="container">
            <div class="top">
                <div class="item">
                    <h3>Office Contact</h3>
                    <ul class="same">
                        <li><i class="fa-solid fa-location-dot"></i>123 Hoang Minh Thao, Da Nang</li>
                        <li><i class="fa-solid fa-phone"></i>+8434 565 1074</li>
                        <li><i class="fa-solid fa-envelope"></i>someone@gmail.com</li>
                    </ul>
                </div>

                <div class="item">
                    <h3>Services Areas
                    </h3>
                    <ul class="same same-2">
                        <li><i class="fa-solid fa-angle-right"></i>API</li>
                        <li><i class="fa-solid fa-angle-right"></i>Pharmacy</li>
                        <li><i class="fa-solid fa-angle-right"></i>Emergency Care</li>
                        <li><i class="fa-solid fa-angle-right"></i>Nursing</li>
                    </ul>
                </div>

                <div class="item">
                    <h3>About</h3>
                    <ul class="same same-2">
                        <li><i class="fa-solid fa-angle-right"></i>Patient Managerment</li>
                        <li><i class="fa-solid fa-angle-right"></i>Our Team</li>
                        <li><i class="fa-solid fa-angle-right"></i>Careers</li>
                    </ul>
                </div>

                <div class="item">
                    <h3>Newsletter</h3>
                    <ul class="same same-2">
                        <li><i class="fa-solid fa-angle-right"></i>Đà Nẵng đưa vào vận hành hệ thống Kiosk Y Tế thông minh</li>         
                        <li><i class="fa-solid fa-angle-right"></i>Chi hơn 150 tỷ đồng mở rộng Bệnh viện Đà Nẵng</li>               
                    </ul>
                </div>

            </div>

            <div class="bottom">
                <h1>Bệnh viện tâm thần đà nẵng</h1>
            </div>
        </div>
    </footer>
</body>
</html>